body{
    background-image: url(/static/img/ed_bg.png);
    margin: 0;
    min-width:600px;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: #000000;
}
#menu1{
    color: white;
    width: 65px;
    height: -webkit-calc(100% - 52px);
    background-color: #000000;
    position: absolute;
    top: 52px;
    left: 0;
    font-size: 13px;
}
#menu1 ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
#menu1 li{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-bottom: solid #35333a 1px;
}
#menu1 li:first-child{
    border-top: solid #35333a 1px;
}
#menu2{
    color: black;
    width: 220px;
    height: -webkit-calc(100% - 52px);
    background-color: #ffffff;
    box-shadow: #dddddd 2px 0px;
    position: absolute;
    top: 52px;
    left: 65px;
}
#title-bar{
    width: -webkit-calc(100% - 415px);
    height: 60px;
    border-bottom: 2px solid #d2d2d2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 98px;
    left: 360px;
}
#title{
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: -webkit-calc(100% - 125px);
    border: none;
    background-color: #ffffff;
    font-size: 34px;
    outline-style: none;
}
#save{
    width: 117px;
    height: 32px;
    margin-top: 13px;
    margin-right: 35px;
    float: right;
    cursor:pointer;
    background-image: url(/static/img/ed_button_sub_pr.png);
}
#save:hover{background-image: url(/static/img/ed_button_sub.png);}
#edit{
    background-color: #ffffff;
    width: -webkit-calc(100% - 415px);
    height: -webkit-calc(100% - 222px);
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 160px;
    right:100px;
    left: 360px;
}
#c{
    background-color: transparent;
    width: -webkit-calc(100% - 315px);
    height: -webkit-calc(100% - 112px);
}
#textbox{
    background-color: transparent;
    border: none;
    width: -webkit-calc(100% - 315px);
    height: -webkit-calc(100% - 112px);
    position: absolute;
    top: 0px;
    left: 0px;
}
#formula{
    position: relative;
    top: 30px;
    left: 25px;
}
#close{
    float: right;
    margin: 10px;
}
#context{
    margin-top: 300px;
}
