body{
    background-image: url(/static/img/q_bg.png);
    background-color: black;
}
#container{
    width: 916px;
    padding: 0;
    margin: 0 auto;
}
.q{
    width: 917px;
    height: 594px;
    border: 1px solid black;
    background-image: url(/static/img/q_img_problem.png);
    margin-top: 8px;
    margin-bottom: 8px;
}
.qb{
    height: 100px;
    width: 817px;
    margin: 20px;
    font-size: 49px;
    background-color: white;
    padding-left: 60px;
    border-bottom: 2px solid #d2d2d2;

}
.qb b{
    margin: 100px;
    line-height: 100px;
    font-size: 30pt;
    padding-top: 40px;
    margin-top: 60px;
    margin-left: 40px;
}
.a{
    width: 917px;
    height: 594px;
    border: 1px solid black;
    background-image: url(/static/img/q_img_problem.png);
    margin-top: 8px;
    margin-bottom: 8px;
}
.uimg{
    position: absolute;
    width: 65px;
    height: 65px;
    margin-top: 30px;
    margin-left: 30px;
}
.qimg{
    position: absolute;
    padding-top:130px;
    width: 700px;
    height: 450px;
}
a{
    font-size: 10px;
}
.ans{
    width: 139px;
    height: 58px;
    background-image: url(/static/img/q_button_solve_pr.png);
    text-align: center;
    font-size: 45px;
    position: relative;
    left: 740px;
    top: 570px;
    cursor:pointer;
}
.ans:hover{
    background-image: url(/static/img/q_button_solve.png);
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  display: block;
  padding: -14px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
#upload_prob:hover{background-image: url(/static/img/nav_button_pr.png);}
#my_page:hover{background-image: url(/static/img/nav_button_pr.png);}
#solve_prob:hover{background-image: url(/static/img/nav_button_pr.png);}
#upload_prob{
    position:absolute;
    top:12;
    right:350;
    cursor:pointer;
    width:118;
    height:37;
    line-height:2;
    text-align:center;
}
#my_page{
    position:absolute;
    top:12;
    right:50;
    cursor:pointer;
    width:118;
    height:37;
    line-height:2;
    text-align:center;
}
#solve_prob{
    position:absolute;
    top:12;
    right:200;
    cursor:pointer;
    width:118;
    height:37;
    line-height:2;
    text-align:center;
}
