<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/edit.css" >
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/fabric.js"></script>
		<script type="text/javascript" src="cP_v0.91/colorPicker.js"></script>
		<script type='text/javascript'>
			org = { mathdox:{formulaeditor:{options:{dragPalette:true, paletteShow: "none", useBar:true}}}};
		</script>
		<script type='text/javascript' src='org/mathdox/formulaeditor/main.js'></script>
		<script src="/static/js/edit.js"></script>
	</head>
	<body>
		<div id="header">
			<img src="/static/img/ed_logo.png">
			<div id="save" onclick="save()"></div>
		</div>
		<div id="menu1">
			<ul>
				<li onclick="formula()">수학기호</li>
				<li onclick="graph()">그래프</li>
				<li onclick="shape()">도형</li>
				<li onclick="draw()">그리기</li>
				<li onclick="new_text();text()" id="text">텍스트</li>
				<li id="delete-item" style="margin-top:10px"><img src="/static/img/ed_icon_select_del.png"></li>
				<li id="btnClear" style="margin-top:10px"><img src="/static/img/ed_icon_all_del.png"></li>
			</ul>
		</div>
		<div id="menu2">
			<button id="close" onclick="close_m2()">X</button>
			<div id="graph">
				<button id="btnAddGraph"><img src="/static/img/ed_icon_graph.png" width="70" height="70"></button><br>
				<button id="btnAddLine"><img src="/static/img/ed_icon_line.png" width="70" height="70"></button><br>
				<button id="btnAddCurve"><img src="/static/img/ed_icon_wipe.png" width="70" height="70"></button><br>
			</div>
			<div id="shape">
				<button id="btnAddCircle"><img src="/static/img/ed_icon_circle.png" width="70" height="70"></button><br>
				<button id="btnAdd3"><img src="/static/img/ed_icon_3.png" width="70" height="70"></button><br>
				<button id="btnAdd4"><img src="/static/img/ed_icon_4.png" width="70" height="70"></button><br>
				<button id="btnAdd5"><img src="/static/img/ed_icon_5.png" width="70" height="70"></button><br>
				<button id="btnAdd6"><img src="/static/img/ed_icon_6.png" width="70" height="70"></button><br>
			</div>
			<div id="draw">
				<button id="freedraw"><img width="80" height="80" id="off"></button>
			</div>
			<div id='formula'>
				<p>Press purple part to type formula.</p>
				<textarea class='mathdoxformula' rows='10' cols='80'></textarea><br><br>
				<button onclick="insert_formula()">insert formula</button>
			</div>
			<div id='addtext'>
				<textarea id="edittext" cols=25></textarea><input type="hidden" id="fontsize">
				<button id="btnAddtext" onclick="add_text()"><img src="/static/img/ed_icon_text.png" width="40" height="40"></button>
			</div>
		</div>
		<div id="title-bar">
			<form method="POST" id="save_form" action="/{{mode}}" enctype="multipart/form-data">
				<input id="title" type="text" name="title" placeholder="제목을 입력하세요.">
				<input id="context" type="hidden" name="context">
				<input type="hidden" value="{{qnum}}" name="qnum">
				<div id="save" onclick="save()">SAVE</div>
			</form>
		</div>
		<div id="edit">
			<div style="position:relative;">
				<canvas id="c"></canvas>
			</div>
		</div>
		<script src="/static/js/main.js"></script>
		<script src="/static/js/curve.js"></script>
	</body>
</html>
