<html>
        <head>
                <link href="/static/bootstrap-social-gh-pages/assets/css/bootstrap.css" rel="stylesheet">
			    <link href="/static/bootstrap-social-gh-pages/assets/css/font-awesome.css" rel="stylesheet">
			    <link href="/static/bootstrap-social-gh-pages/assets/css/docs.css" rel="stylesheet">
			    <link href="/static/bootstrap-social-gh-pages/bootstrap-social.css" rel="stylesheet">
                <script type="text/javascript">
                        
                </script>
        </head>
        <body>
                <a class="btn btn-block btn-social btn-facebook" href="/login" _target="blank">
			<i class="fa fa-facebook"></i>
			Sign in with Facebook
		</a>
        </body>
<html>
