<html>
	<head>
		<meta charset="utf-8">
		<script src="/static/js/jquery.js"></script>
		<style type="text/css">
			.q{
			width: 750px;
			height: 450px;
			border: 1px solid black;
			}
			.a{
			width: 750px;
			height: 450px;
			border: 1px solid red;
			}
			.qb{
			height: 50px;
			font-size: 49px;
			background-color: gray;
			padding-left: 60px;
			opacity: 0.4;
			}
			.uimg{
			position: absolute;
			}
			.qimg{
			position: absolute;
			width: 750px;
			height: 450px;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.qb').click(function(e){
					document.location="view?id="+e.target.id
				});
			});
		</script>
	</head>
	<body>
		<div id="buttons">
			<div>
				<a href="/edit?mode=a&amp;qnum={{ques[0].no}}" onclick="window.open(this.href,'_blank','width=1000,height=700, scrollbars=yes');return false;">답변하기</a>
			</div>
			{%if ismine%}
			<div>
				<a href="/delete?qnum={{ques[0].no}}">삭제하기</a>
			</div>
			{%endif%}
		</div>
		<div class="q">
			<img class="uimg" src="https://graph.facebook.com/{{ques[0].fid}}/picture?type=small">
			<img class="qimg" src="/uploads/{{ques[0].filename}}.png">
			<div class="qb" id="{{ques[0].no}}">
				{{ques[0].title}}
			</div>
		</div>
		{%if alist|length > 0%}
			{%for ans in alist%}
				<div class="a">
					<img class="uimg" src="https://graph.facebook.com/{{ans.fid}}/picture?type=small">
					<img class="qimg" src="/uploads/{{ans.filename}}.png">
					<div class="qb" id="{{ans.no}}">
						{{ans.title}}
					</div>
				</div>
			{%endfor%}
		{%else%}
			<div>
				No answer;;
			</div>
		{%endif%}
	</body>
</html>
