<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/view.css">
		<script src="/static/js/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.qb').click(function(e){
					document.location=e.target.id
				});
				$('.fb_share').click(function(e){
                    window.open("http://www.facebook.com/sharer/sharer.php?u="+window.location.host+"/"+e.target.id,"")
                });
			});
		</script>
	</head>
	<body>
		<div id="container">
			<div id="buttons">
				<div class="ans" onclick="window.open('/edit?mode=a&amp;qnum={{ques[0].inum}}','_blank','width=1232,height=708, scrollbars=yes');return false;">
				</div>
				{%if ismine%}
				<!--<div>
					<a href="/delete?qnum={{ques[0].inum}}">삭제하기</a>
				</div>-->
				{%endif%}
			</div>
			<div class="q">
				<img class="uimg" src="https://graph.facebook.com/{{ques[0].fid}}/picture?type=small">
				<img class="qimg" src="/uploads/{{ques[0].filename}}.png">
				<div class="qb" id="{{ques[0].inum}}">
					<b>{{ques[0].title}}</b>
				</div>
			</div>
			{%if alist|length > 0%}
				{%for ans in alist%}
					<div class="a">
						<img class="uimg" src="https://graph.facebook.com/{{ans.fid}}/picture?type=small">
						<img class="qimg" src="/uploads/{{ans.filename}}.png">
						<div class="qb" id="{{ans.no}}">
								<b>{{ans.title}}</b>
						</div>
					</div>
				{%endfor%}
			{%else%}
				<div>
					No answer;;
				</div>
			{%endif%}
		</div>
		<div class="back">
      		<img src="/static/img/nav_logo.png" style="float:left;margin-left:15px;margin-top:20px;">
      		<div id="upload_prob" onclick="window.open('/edit?mode=q','_blank','width=1232,height=708, scrollbars=yes');return false;">문제올리기</div>
      		<div id="solve_prob" onclick="window.open('/main','_self','width=1232,height=708, scrollbars=yes');return false;">문제풀기</div>
      		<div id="my_page" onclick="window.open('/profile','_self','width=1232,height=708, scrollbars=yes');return false;">마이페이지</div>
 		</div>
	</body>
</html>
